# Ignore everything by default
*

# Allow specific files and folders
!.gitignore
!.github/
!misc/
!anki/
!pdf/
!main.py
!README.md

# Ensure all files within specific folders are not ignored
!misc/*
!anki/*
!pdf/*