# Ignore everything by default
*

# Allow specific files and folders
!.gitignore
!.github/
!misc/
!anki/
!pdf/
!src/
!main.py
!src/static.py
!README.md
!POLICY_TERMS.md
!DATA_INPUT.md

# Ensure all files within specific folders are not ignored
!/misc/*
!/static/*